Web/SmartEP.WebService/Service References/ServiceReference2/ZhangjgAQI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://222.92.42.178:8083" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://222.92.42.178:8083" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://222.92.42.178:8083">
      <s:element name="GetPortInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetPortInfoResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetLatestHourAQINew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="portId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestHourAQINewResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetLatestHourAQI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="portId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestHourAQIResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetLatestHourAQIForBAD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="portId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestHourAQIForBADResponse">
        <s:complexType />
      </s:element>
      <s:element name="Get24HoursFactorData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="portId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get24HoursFactorDataResponse">
        <s:complexType />
      </s:element>
      <s:element name="Get24HoursFactorDataByCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="portId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="factorCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get24HoursFactorDataByCodeResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetHourConcentration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="portId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHourConcentrationResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetTopNHourAQI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="portId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="topN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopNHourAQIResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetTopNDayAQI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="portId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="topN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopNDayAQIResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAQIForecast">
        <s:complexType />
      </s:element>
      <s:element name="GetAQIForecastResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetVersionResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPortInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetPortInfo" />
  </wsdl:message>
  <wsdl:message name="GetPortInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetPortInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestHourAQINewSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestHourAQINew" />
  </wsdl:message>
  <wsdl:message name="GetLatestHourAQINewSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestHourAQINewResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestHourAQISoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestHourAQI" />
  </wsdl:message>
  <wsdl:message name="GetLatestHourAQISoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestHourAQIResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestHourAQIForBADSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestHourAQIForBAD" />
  </wsdl:message>
  <wsdl:message name="GetLatestHourAQIForBADSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestHourAQIForBADResponse" />
  </wsdl:message>
  <wsdl:message name="Get24HoursFactorDataSoapIn">
    <wsdl:part name="parameters" element="tns:Get24HoursFactorData" />
  </wsdl:message>
  <wsdl:message name="Get24HoursFactorDataSoapOut">
    <wsdl:part name="parameters" element="tns:Get24HoursFactorDataResponse" />
  </wsdl:message>
  <wsdl:message name="Get24HoursFactorDataByCodeSoapIn">
    <wsdl:part name="parameters" element="tns:Get24HoursFactorDataByCode" />
  </wsdl:message>
  <wsdl:message name="Get24HoursFactorDataByCodeSoapOut">
    <wsdl:part name="parameters" element="tns:Get24HoursFactorDataByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetHourConcentrationSoapIn">
    <wsdl:part name="parameters" element="tns:GetHourConcentration" />
  </wsdl:message>
  <wsdl:message name="GetHourConcentrationSoapOut">
    <wsdl:part name="parameters" element="tns:GetHourConcentrationResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopNHourAQISoapIn">
    <wsdl:part name="parameters" element="tns:GetTopNHourAQI" />
  </wsdl:message>
  <wsdl:message name="GetTopNHourAQISoapOut">
    <wsdl:part name="parameters" element="tns:GetTopNHourAQIResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopNDayAQISoapIn">
    <wsdl:part name="parameters" element="tns:GetTopNDayAQI" />
  </wsdl:message>
  <wsdl:message name="GetTopNDayAQISoapOut">
    <wsdl:part name="parameters" element="tns:GetTopNDayAQIResponse" />
  </wsdl:message>
  <wsdl:message name="GetAQIForecastSoapIn">
    <wsdl:part name="parameters" element="tns:GetAQIForecast" />
  </wsdl:message>
  <wsdl:message name="GetAQIForecastSoapOut">
    <wsdl:part name="parameters" element="tns:GetAQIForecastResponse" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="GetPortInfoHttpGetIn" />
  <wsdl:message name="GetPortInfoHttpGetOut" />
  <wsdl:message name="GetLatestHourAQINewHttpGetIn">
    <wsdl:part name="portId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestHourAQINewHttpGetOut" />
  <wsdl:message name="GetLatestHourAQIHttpGetIn">
    <wsdl:part name="portId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestHourAQIHttpGetOut" />
  <wsdl:message name="GetLatestHourAQIForBADHttpGetIn">
    <wsdl:part name="portId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestHourAQIForBADHttpGetOut" />
  <wsdl:message name="Get24HoursFactorDataHttpGetIn">
    <wsdl:part name="portId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get24HoursFactorDataHttpGetOut" />
  <wsdl:message name="Get24HoursFactorDataByCodeHttpGetIn">
    <wsdl:part name="portId" type="s:string" />
    <wsdl:part name="factorCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get24HoursFactorDataByCodeHttpGetOut" />
  <wsdl:message name="GetHourConcentrationHttpGetIn">
    <wsdl:part name="portId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHourConcentrationHttpGetOut" />
  <wsdl:message name="GetTopNHourAQIHttpGetIn">
    <wsdl:part name="portId" type="s:string" />
    <wsdl:part name="topN" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTopNHourAQIHttpGetOut" />
  <wsdl:message name="GetTopNDayAQIHttpGetIn">
    <wsdl:part name="portId" type="s:string" />
    <wsdl:part name="topN" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTopNDayAQIHttpGetOut" />
  <wsdl:message name="GetAQIForecastHttpGetIn" />
  <wsdl:message name="GetAQIForecastHttpGetOut" />
  <wsdl:message name="GetVersionHttpGetIn" />
  <wsdl:message name="GetVersionHttpGetOut" />
  <wsdl:message name="GetPortInfoHttpPostIn" />
  <wsdl:message name="GetPortInfoHttpPostOut" />
  <wsdl:message name="GetLatestHourAQINewHttpPostIn">
    <wsdl:part name="portId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestHourAQINewHttpPostOut" />
  <wsdl:message name="GetLatestHourAQIHttpPostIn">
    <wsdl:part name="portId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestHourAQIHttpPostOut" />
  <wsdl:message name="GetLatestHourAQIForBADHttpPostIn">
    <wsdl:part name="portId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestHourAQIForBADHttpPostOut" />
  <wsdl:message name="Get24HoursFactorDataHttpPostIn">
    <wsdl:part name="portId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get24HoursFactorDataHttpPostOut" />
  <wsdl:message name="Get24HoursFactorDataByCodeHttpPostIn">
    <wsdl:part name="portId" type="s:string" />
    <wsdl:part name="factorCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get24HoursFactorDataByCodeHttpPostOut" />
  <wsdl:message name="GetHourConcentrationHttpPostIn">
    <wsdl:part name="portId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHourConcentrationHttpPostOut" />
  <wsdl:message name="GetTopNHourAQIHttpPostIn">
    <wsdl:part name="portId" type="s:string" />
    <wsdl:part name="topN" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTopNHourAQIHttpPostOut" />
  <wsdl:message name="GetTopNDayAQIHttpPostIn">
    <wsdl:part name="portId" type="s:string" />
    <wsdl:part name="topN" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTopNDayAQIHttpPostOut" />
  <wsdl:message name="GetAQIForecastHttpPostIn" />
  <wsdl:message name="GetAQIForecastHttpPostOut" />
  <wsdl:message name="GetVersionHttpPostIn" />
  <wsdl:message name="GetVersionHttpPostOut" />
  <wsdl:portType name="ZhangjgAQISoap">
    <wsdl:operation name="GetPortInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">1、【GIS】获取站点信息&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetPortInfoSoapIn" />
      <wsdl:output message="tns:GetPortInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestHourAQINew">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2、【实况】获取最新小时AQI空气质量状况&lt;br /&gt;portId: 站点信息， portId=0代表全市，不填显示全部点位的信息。</wsdl:documentation>
      <wsdl:input message="tns:GetLatestHourAQINewSoapIn" />
      <wsdl:output message="tns:GetLatestHourAQINewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestHourAQI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2、【实况】获取最新小时AQI空气质量状况&lt;br /&gt;portId: 站点信息， portId=0代表全市，不填显示全部点位的信息。</wsdl:documentation>
      <wsdl:input message="tns:GetLatestHourAQISoapIn" />
      <wsdl:output message="tns:GetLatestHourAQISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestHourAQIForBAD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2、【实况】获取最新小时AQI空气质量状况&lt;br /&gt;portId: 站点信息， portId=0代表全市，不填显示全部点位的信息。</wsdl:documentation>
      <wsdl:input message="tns:GetLatestHourAQIForBADSoapIn" />
      <wsdl:output message="tns:GetLatestHourAQIForBADSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get24HoursFactorData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">3、【实况】获取当前首要污染物最近24小时因子数据&lt;br /&gt;参数说明：&lt;br /&gt;portId为站点ID，portId=0代表全市；</wsdl:documentation>
      <wsdl:input message="tns:Get24HoursFactorDataSoapIn" />
      <wsdl:output message="tns:Get24HoursFactorDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get24HoursFactorDataByCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">3、【实况】获取当前首要污染物最近24小时因子数据&lt;br /&gt;参数说明：&lt;br /&gt;portId为站点ID，portId=0代表全市；</wsdl:documentation>
      <wsdl:input message="tns:Get24HoursFactorDataByCodeSoapIn" />
      <wsdl:output message="tns:Get24HoursFactorDataByCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHourConcentration">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">4、【浓度】获取小时浓度值&lt;br /&gt;参数说明：portId:站点ID，portId=0代表全市</wsdl:documentation>
      <wsdl:input message="tns:GetHourConcentrationSoapIn" />
      <wsdl:output message="tns:GetHourConcentrationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopNHourAQI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">5、【历史】获取最近N小时AQI情况&lt;br /&gt;参数说明：&lt;br /&gt;portId为站点ID，portId=0代表全市；&lt;br /&gt;topN表示最近N小时（例：填写24代表获取最近24小时AQI）</wsdl:documentation>
      <wsdl:input message="tns:GetTopNHourAQISoapIn" />
      <wsdl:output message="tns:GetTopNHourAQISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopNDayAQI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">6、【历史】获取最近N天AQI情况&lt;br /&gt;参数说明：&lt;br /&gt;portId为站点ID，portId=0代表全市；&lt;br /&gt;topN表示最近N天（例：填写30代表获取最近30天日AQI）</wsdl:documentation>
      <wsdl:input message="tns:GetTopNDayAQISoapIn" />
      <wsdl:output message="tns:GetTopNDayAQISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAQIForecast">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">7、【预报】获取预报情况&lt;br /&gt;DateTime:发布时间；TimeSpan：时间范围；DiffusionCondition：扩散条件；</wsdl:documentation>
      <wsdl:input message="tns:GetAQIForecastSoapIn" />
      <wsdl:output message="tns:GetAQIForecastSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">8、获取版本更新信息</wsdl:documentation>
      <wsdl:input message="tns:GetVersionSoapIn" />
      <wsdl:output message="tns:GetVersionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ZhangjgAQIHttpGet">
    <wsdl:operation name="GetPortInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">1、【GIS】获取站点信息&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetPortInfoHttpGetIn" />
      <wsdl:output message="tns:GetPortInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestHourAQINew">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2、【实况】获取最新小时AQI空气质量状况&lt;br /&gt;portId: 站点信息， portId=0代表全市，不填显示全部点位的信息。</wsdl:documentation>
      <wsdl:input message="tns:GetLatestHourAQINewHttpGetIn" />
      <wsdl:output message="tns:GetLatestHourAQINewHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestHourAQI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2、【实况】获取最新小时AQI空气质量状况&lt;br /&gt;portId: 站点信息， portId=0代表全市，不填显示全部点位的信息。</wsdl:documentation>
      <wsdl:input message="tns:GetLatestHourAQIHttpGetIn" />
      <wsdl:output message="tns:GetLatestHourAQIHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestHourAQIForBAD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2、【实况】获取最新小时AQI空气质量状况&lt;br /&gt;portId: 站点信息， portId=0代表全市，不填显示全部点位的信息。</wsdl:documentation>
      <wsdl:input message="tns:GetLatestHourAQIForBADHttpGetIn" />
      <wsdl:output message="tns:GetLatestHourAQIForBADHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get24HoursFactorData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">3、【实况】获取当前首要污染物最近24小时因子数据&lt;br /&gt;参数说明：&lt;br /&gt;portId为站点ID，portId=0代表全市；</wsdl:documentation>
      <wsdl:input message="tns:Get24HoursFactorDataHttpGetIn" />
      <wsdl:output message="tns:Get24HoursFactorDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get24HoursFactorDataByCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">3、【实况】获取当前首要污染物最近24小时因子数据&lt;br /&gt;参数说明：&lt;br /&gt;portId为站点ID，portId=0代表全市；</wsdl:documentation>
      <wsdl:input message="tns:Get24HoursFactorDataByCodeHttpGetIn" />
      <wsdl:output message="tns:Get24HoursFactorDataByCodeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHourConcentration">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">4、【浓度】获取小时浓度值&lt;br /&gt;参数说明：portId:站点ID，portId=0代表全市</wsdl:documentation>
      <wsdl:input message="tns:GetHourConcentrationHttpGetIn" />
      <wsdl:output message="tns:GetHourConcentrationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopNHourAQI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">5、【历史】获取最近N小时AQI情况&lt;br /&gt;参数说明：&lt;br /&gt;portId为站点ID，portId=0代表全市；&lt;br /&gt;topN表示最近N小时（例：填写24代表获取最近24小时AQI）</wsdl:documentation>
      <wsdl:input message="tns:GetTopNHourAQIHttpGetIn" />
      <wsdl:output message="tns:GetTopNHourAQIHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopNDayAQI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">6、【历史】获取最近N天AQI情况&lt;br /&gt;参数说明：&lt;br /&gt;portId为站点ID，portId=0代表全市；&lt;br /&gt;topN表示最近N天（例：填写30代表获取最近30天日AQI）</wsdl:documentation>
      <wsdl:input message="tns:GetTopNDayAQIHttpGetIn" />
      <wsdl:output message="tns:GetTopNDayAQIHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAQIForecast">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">7、【预报】获取预报情况&lt;br /&gt;DateTime:发布时间；TimeSpan：时间范围；DiffusionCondition：扩散条件；</wsdl:documentation>
      <wsdl:input message="tns:GetAQIForecastHttpGetIn" />
      <wsdl:output message="tns:GetAQIForecastHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">8、获取版本更新信息</wsdl:documentation>
      <wsdl:input message="tns:GetVersionHttpGetIn" />
      <wsdl:output message="tns:GetVersionHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ZhangjgAQIHttpPost">
    <wsdl:operation name="GetPortInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">1、【GIS】获取站点信息&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetPortInfoHttpPostIn" />
      <wsdl:output message="tns:GetPortInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestHourAQINew">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2、【实况】获取最新小时AQI空气质量状况&lt;br /&gt;portId: 站点信息， portId=0代表全市，不填显示全部点位的信息。</wsdl:documentation>
      <wsdl:input message="tns:GetLatestHourAQINewHttpPostIn" />
      <wsdl:output message="tns:GetLatestHourAQINewHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestHourAQI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2、【实况】获取最新小时AQI空气质量状况&lt;br /&gt;portId: 站点信息， portId=0代表全市，不填显示全部点位的信息。</wsdl:documentation>
      <wsdl:input message="tns:GetLatestHourAQIHttpPostIn" />
      <wsdl:output message="tns:GetLatestHourAQIHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestHourAQIForBAD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2、【实况】获取最新小时AQI空气质量状况&lt;br /&gt;portId: 站点信息， portId=0代表全市，不填显示全部点位的信息。</wsdl:documentation>
      <wsdl:input message="tns:GetLatestHourAQIForBADHttpPostIn" />
      <wsdl:output message="tns:GetLatestHourAQIForBADHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get24HoursFactorData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">3、【实况】获取当前首要污染物最近24小时因子数据&lt;br /&gt;参数说明：&lt;br /&gt;portId为站点ID，portId=0代表全市；</wsdl:documentation>
      <wsdl:input message="tns:Get24HoursFactorDataHttpPostIn" />
      <wsdl:output message="tns:Get24HoursFactorDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get24HoursFactorDataByCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">3、【实况】获取当前首要污染物最近24小时因子数据&lt;br /&gt;参数说明：&lt;br /&gt;portId为站点ID，portId=0代表全市；</wsdl:documentation>
      <wsdl:input message="tns:Get24HoursFactorDataByCodeHttpPostIn" />
      <wsdl:output message="tns:Get24HoursFactorDataByCodeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHourConcentration">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">4、【浓度】获取小时浓度值&lt;br /&gt;参数说明：portId:站点ID，portId=0代表全市</wsdl:documentation>
      <wsdl:input message="tns:GetHourConcentrationHttpPostIn" />
      <wsdl:output message="tns:GetHourConcentrationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopNHourAQI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">5、【历史】获取最近N小时AQI情况&lt;br /&gt;参数说明：&lt;br /&gt;portId为站点ID，portId=0代表全市；&lt;br /&gt;topN表示最近N小时（例：填写24代表获取最近24小时AQI）</wsdl:documentation>
      <wsdl:input message="tns:GetTopNHourAQIHttpPostIn" />
      <wsdl:output message="tns:GetTopNHourAQIHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopNDayAQI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">6、【历史】获取最近N天AQI情况&lt;br /&gt;参数说明：&lt;br /&gt;portId为站点ID，portId=0代表全市；&lt;br /&gt;topN表示最近N天（例：填写30代表获取最近30天日AQI）</wsdl:documentation>
      <wsdl:input message="tns:GetTopNDayAQIHttpPostIn" />
      <wsdl:output message="tns:GetTopNDayAQIHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAQIForecast">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">7、【预报】获取预报情况&lt;br /&gt;DateTime:发布时间；TimeSpan：时间范围；DiffusionCondition：扩散条件；</wsdl:documentation>
      <wsdl:input message="tns:GetAQIForecastHttpPostIn" />
      <wsdl:output message="tns:GetAQIForecastHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">8、获取版本更新信息</wsdl:documentation>
      <wsdl:input message="tns:GetVersionHttpPostIn" />
      <wsdl:output message="tns:GetVersionHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZhangjgAQISoap" type="tns:ZhangjgAQISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPortInfo">
      <soap:operation soapAction="http://222.92.42.178:8083/GetPortInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestHourAQINew">
      <soap:operation soapAction="http://222.92.42.178:8083/GetLatestHourAQINew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestHourAQI">
      <soap:operation soapAction="http://222.92.42.178:8083/GetLatestHourAQI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestHourAQIForBAD">
      <soap:operation soapAction="http://222.92.42.178:8083/GetLatestHourAQIForBAD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get24HoursFactorData">
      <soap:operation soapAction="http://222.92.42.178:8083/Get24HoursFactorData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get24HoursFactorDataByCode">
      <soap:operation soapAction="http://222.92.42.178:8083/Get24HoursFactorDataByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHourConcentration">
      <soap:operation soapAction="http://222.92.42.178:8083/GetHourConcentration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopNHourAQI">
      <soap:operation soapAction="http://222.92.42.178:8083/GetTopNHourAQI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopNDayAQI">
      <soap:operation soapAction="http://222.92.42.178:8083/GetTopNDayAQI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAQIForecast">
      <soap:operation soapAction="http://222.92.42.178:8083/GetAQIForecast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://222.92.42.178:8083/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZhangjgAQISoap12" type="tns:ZhangjgAQISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPortInfo">
      <soap12:operation soapAction="http://222.92.42.178:8083/GetPortInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestHourAQINew">
      <soap12:operation soapAction="http://222.92.42.178:8083/GetLatestHourAQINew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestHourAQI">
      <soap12:operation soapAction="http://222.92.42.178:8083/GetLatestHourAQI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestHourAQIForBAD">
      <soap12:operation soapAction="http://222.92.42.178:8083/GetLatestHourAQIForBAD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get24HoursFactorData">
      <soap12:operation soapAction="http://222.92.42.178:8083/Get24HoursFactorData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get24HoursFactorDataByCode">
      <soap12:operation soapAction="http://222.92.42.178:8083/Get24HoursFactorDataByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHourConcentration">
      <soap12:operation soapAction="http://222.92.42.178:8083/GetHourConcentration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopNHourAQI">
      <soap12:operation soapAction="http://222.92.42.178:8083/GetTopNHourAQI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopNDayAQI">
      <soap12:operation soapAction="http://222.92.42.178:8083/GetTopNDayAQI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAQIForecast">
      <soap12:operation soapAction="http://222.92.42.178:8083/GetAQIForecast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap12:operation soapAction="http://222.92.42.178:8083/GetVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZhangjgAQIHttpGet" type="tns:ZhangjgAQIHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetPortInfo">
      <http:operation location="/GetPortInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetLatestHourAQINew">
      <http:operation location="/GetLatestHourAQINew" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetLatestHourAQI">
      <http:operation location="/GetLatestHourAQI" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetLatestHourAQIForBAD">
      <http:operation location="/GetLatestHourAQIForBAD" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Get24HoursFactorData">
      <http:operation location="/Get24HoursFactorData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Get24HoursFactorDataByCode">
      <http:operation location="/Get24HoursFactorDataByCode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetHourConcentration">
      <http:operation location="/GetHourConcentration" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetTopNHourAQI">
      <http:operation location="/GetTopNHourAQI" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetTopNDayAQI">
      <http:operation location="/GetTopNDayAQI" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetAQIForecast">
      <http:operation location="/GetAQIForecast" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <http:operation location="/GetVersion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZhangjgAQIHttpPost" type="tns:ZhangjgAQIHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetPortInfo">
      <http:operation location="/GetPortInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetLatestHourAQINew">
      <http:operation location="/GetLatestHourAQINew" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetLatestHourAQI">
      <http:operation location="/GetLatestHourAQI" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetLatestHourAQIForBAD">
      <http:operation location="/GetLatestHourAQIForBAD" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Get24HoursFactorData">
      <http:operation location="/Get24HoursFactorData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Get24HoursFactorDataByCode">
      <http:operation location="/Get24HoursFactorDataByCode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetHourConcentration">
      <http:operation location="/GetHourConcentration" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetTopNHourAQI">
      <http:operation location="/GetTopNHourAQI" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetTopNDayAQI">
      <http:operation location="/GetTopNDayAQI" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetAQIForecast">
      <http:operation location="/GetAQIForecast" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <http:operation location="/GetVersion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZhangjgAQI">
    <wsdl:port name="ZhangjgAQISoap" binding="tns:ZhangjgAQISoap">
      <soap:address location="http://61.177.52.30:8000/V02ZJG.AQIWS/ZhangjgAQI.asmx" />
    </wsdl:port>
    <wsdl:port name="ZhangjgAQISoap12" binding="tns:ZhangjgAQISoap12">
      <soap12:address location="http://61.177.52.30:8000/V02ZJG.AQIWS/ZhangjgAQI.asmx" />
    </wsdl:port>
    <wsdl:port name="ZhangjgAQIHttpGet" binding="tns:ZhangjgAQIHttpGet">
      <http:address location="http://61.177.52.30:8000/V02ZJG.AQIWS/ZhangjgAQI.asmx" />
    </wsdl:port>
    <wsdl:port name="ZhangjgAQIHttpPost" binding="tns:ZhangjgAQIHttpPost">
      <http:address location="http://61.177.52.30:8000/V02ZJG.AQIWS/ZhangjgAQI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>