Web/SmartEP.WebService/Service References/ServiceReference1/GISService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetHourDataByZJG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="portId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="factorName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHourDataByZJGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHourDataByZJGResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPortALLDetailZJG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="portId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPortALLDetailZJGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPortALLDetailZJGResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetHourDataByZJGSoapIn">
    <wsdl:part name="parameters" element="tns:GetHourDataByZJG" />
  </wsdl:message>
  <wsdl:message name="GetHourDataByZJGSoapOut">
    <wsdl:part name="parameters" element="tns:GetHourDataByZJGResponse" />
  </wsdl:message>
  <wsdl:message name="GetPortALLDetailZJGSoapIn">
    <wsdl:part name="parameters" element="tns:GetPortALLDetailZJG" />
  </wsdl:message>
  <wsdl:message name="GetPortALLDetailZJGSoapOut">
    <wsdl:part name="parameters" element="tns:GetPortALLDetailZJGResponse" />
  </wsdl:message>
  <wsdl:message name="GetHourDataByZJGHttpGetIn">
    <wsdl:part name="portId" type="s:string" />
    <wsdl:part name="factorName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHourDataByZJGHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPortALLDetailZJGHttpGetIn">
    <wsdl:part name="dataType" type="s:string" />
    <wsdl:part name="portId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPortALLDetailZJGHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHourDataByZJGHttpPostIn">
    <wsdl:part name="portId" type="s:string" />
    <wsdl:part name="factorName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHourDataByZJGHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPortALLDetailZJGHttpPostIn">
    <wsdl:part name="dataType" type="s:string" />
    <wsdl:part name="portId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPortALLDetailZJGHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="GISServiceSoap">
    <wsdl:operation name="GetHourDataByZJG">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">【张家港】获得测点因子的实时数据。&lt;br /&gt;提供两个参数：&lt;br /&gt;portId的值为：ALL 所有站点，站点ID（116 张家港市监测站，117 张家港城北小学)&lt;br&gt;factorName值为：SO2，NO2，CO，O3_1，O3_8，PM10_1，PM10_24，PM25_1，PM25_24</wsdl:documentation>
      <wsdl:input message="tns:GetHourDataByZJGSoapIn" />
      <wsdl:output message="tns:GetHourDataByZJGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPortALLDetailZJG">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">【张家港】获得张家港测点AQI。&lt;br /&gt;提供两个参数：&lt;br /&gt;dataType有两个值：hour,day&lt;br /&gt;portId值：all(全部站点),站点ID</wsdl:documentation>
      <wsdl:input message="tns:GetPortALLDetailZJGSoapIn" />
      <wsdl:output message="tns:GetPortALLDetailZJGSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GISServiceHttpGet">
    <wsdl:operation name="GetHourDataByZJG">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">【张家港】获得测点因子的实时数据。&lt;br /&gt;提供两个参数：&lt;br /&gt;portId的值为：ALL 所有站点，站点ID（116 张家港市监测站，117 张家港城北小学)&lt;br&gt;factorName值为：SO2，NO2，CO，O3_1，O3_8，PM10_1，PM10_24，PM25_1，PM25_24</wsdl:documentation>
      <wsdl:input message="tns:GetHourDataByZJGHttpGetIn" />
      <wsdl:output message="tns:GetHourDataByZJGHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPortALLDetailZJG">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">【张家港】获得张家港测点AQI。&lt;br /&gt;提供两个参数：&lt;br /&gt;dataType有两个值：hour,day&lt;br /&gt;portId值：all(全部站点),站点ID</wsdl:documentation>
      <wsdl:input message="tns:GetPortALLDetailZJGHttpGetIn" />
      <wsdl:output message="tns:GetPortALLDetailZJGHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GISServiceHttpPost">
    <wsdl:operation name="GetHourDataByZJG">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">【张家港】获得测点因子的实时数据。&lt;br /&gt;提供两个参数：&lt;br /&gt;portId的值为：ALL 所有站点，站点ID（116 张家港市监测站，117 张家港城北小学)&lt;br&gt;factorName值为：SO2，NO2，CO，O3_1，O3_8，PM10_1，PM10_24，PM25_1，PM25_24</wsdl:documentation>
      <wsdl:input message="tns:GetHourDataByZJGHttpPostIn" />
      <wsdl:output message="tns:GetHourDataByZJGHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPortALLDetailZJG">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">【张家港】获得张家港测点AQI。&lt;br /&gt;提供两个参数：&lt;br /&gt;dataType有两个值：hour,day&lt;br /&gt;portId值：all(全部站点),站点ID</wsdl:documentation>
      <wsdl:input message="tns:GetPortALLDetailZJGHttpPostIn" />
      <wsdl:output message="tns:GetPortALLDetailZJGHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GISServiceSoap" type="tns:GISServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHourDataByZJG">
      <soap:operation soapAction="http://tempuri.org/GetHourDataByZJG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPortALLDetailZJG">
      <soap:operation soapAction="http://tempuri.org/GetPortALLDetailZJG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GISServiceSoap12" type="tns:GISServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHourDataByZJG">
      <soap12:operation soapAction="http://tempuri.org/GetHourDataByZJG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPortALLDetailZJG">
      <soap12:operation soapAction="http://tempuri.org/GetPortALLDetailZJG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GISServiceHttpGet" type="tns:GISServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetHourDataByZJG">
      <http:operation location="/GetHourDataByZJG" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPortALLDetailZJG">
      <http:operation location="/GetPortALLDetailZJG" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GISServiceHttpPost" type="tns:GISServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetHourDataByZJG">
      <http:operation location="/GetHourDataByZJG" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPortALLDetailZJG">
      <http:operation location="/GetPortALLDetailZJG" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GISService">
    <wsdl:port name="GISServiceSoap" binding="tns:GISServiceSoap">
      <soap:address location="http://61.177.52.30:8000/V02ZJGAirService/GISService.asmx" />
    </wsdl:port>
    <wsdl:port name="GISServiceSoap12" binding="tns:GISServiceSoap12">
      <soap12:address location="http://61.177.52.30:8000/V02ZJGAirService/GISService.asmx" />
    </wsdl:port>
    <wsdl:port name="GISServiceHttpGet" binding="tns:GISServiceHttpGet">
      <http:address location="http://61.177.52.30:8000/V02ZJGAirService/GISService.asmx" />
    </wsdl:port>
    <wsdl:port name="GISServiceHttpPost" binding="tns:GISServiceHttpPost">
      <http:address location="http://61.177.52.30:8000/V02ZJGAirService/GISService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>